body {
  background-color: #ffb6e1e5;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  background: #eeaeca;
  background: radial-gradient(
    circle at top left,
    #fbc2eb 0%,
    #d4b5ff 35%,
    #a6dcef 85%,
    #f5f7fa 100%
  );
}

.header {
  padding: 8px;
  border: 4px solid hsla(305, 100%, 83%, 0.192);
  background: #f5f5f58e;
  backdrop-filter: blur(10px);
}

.title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.438);
  color: #23002b;
}
.focus-flow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  letter-spacing: 1.5px;
  color: rgb(0, 12, 78);
}
