body {
  background-color: #ffb6e1e5;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  background: #eeaeca;
  background: radial-gradient(
    circle at top left,
    #fbc2eb 0%,
    #d4b5ff 35%,
    #a6dcef 85%,
    #f5f7fa 100%
  );
}

/*header*/
.header {
  padding: 8px;
  border: 4px solid hsla(305, 100%, 83%, 0.192);
  background: #f5f5f58e;
  backdrop-filter: blur(10px);
}

.title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.438);
  color: #23002b;
}
.focus-flow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  letter-spacing: 1.5px;
  color: #000838;
}

/*sidebar*/

.sidebar {
  padding: 8px;
  border: 4px solid hsla(305, 100%, 83%, 0.192);
  background: #f5f5f58e;
  backdrop-filter: blur(10px);
}

.sidebar-title {
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #23002b;
}

.sidebar-nav {
  list-style-type: none;
  gap: 50px;
  color: #000838;
  font-size: 16px;
}

.sidebar-list {
  /* border: 2px solid lime;*/
  border-radius: 20px;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

.sidebar-list:hover {
  box-shadow: 0 0 10px #000838;
  cursor: pointer;
  color: #23002b;
  background: linear-gradient(135deg, #fbc2eb 0%, #d4b5ff 50%, #a6dcef 100%);
}
