body {
  background-color: #ffb6e1e5;
  margin: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  background: #eeaeca;
  background: radial-gradient(
    circle at top left,
    #fbc2eb 0%,
    #d4b5ff 35%,
    #a6dcef 75%,
    #f5f7fa 100%
  );
}

/*header*/
.header {
  padding: 8px;
  border: 4px solid hsla(305, 100%, 83%, 0.192);
  background: #f5f5f58e;
  backdrop-filter: blur(10px);
}

.title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.438);
  color: #23002b;
}
.focus-flow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  letter-spacing: 1.5px;
  color: #000838;
}

/*sidebar*/

.sidebar {
  padding: 8px;
  border: 4px solid hsla(305, 100%, 83%, 0.192);
  background: #f5f5f58e;
  backdrop-filter: blur(10px);
  flex-shrink: 0;
  width: 220;
}

.sidebar-title {
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #23002b;
}

.sidebar-nav,
.module-tasks {
  list-style-type: none;
  color: #000838;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.sidebar-list {
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  margin: 8px;
}

/*ul {
  list-style-type: none;
}*/

.sidebar-list:hover {
  box-shadow: 0 0 10px #000838;
  cursor: pointer;
  color: #23002b;
  background: linear-gradient(135deg, #fbc2eb 0%, #d4b5ff 50%, #a6dcef 100%);
  transition: 0.5s ease;
}

/*card section*/

.body {
  display: flex;
  flex: 1;
}

/* Priority bar container */
.priority-bar {
  margin: 8px;
  padding: 8px;
  display: flex;
  gap: 8px;
}

.main-top {
  display: flex;
  justify-content: flex-end;
}

.main-content {
  flex: 1;
  padding: 10px;
}

.deadline h4 {
  color: #23002b;
  margin: 0;
  padding: 7px;
  font-size: 16px;
}

.deadline p {
  color: #000838;
  text-align: center;
  padding: 4px;
  margin: 0;
}

.deadline {
  border-radius: 16px;
  box-shadow: 0 0 10px #000838;
  background: linear-gradient(135deg, #fbc2eb 0%, #d4b5ff 50%, #a6dcef 100%);
}

.green {
  border: 3px solid #4caf50;
  box-shadow: 0 0 10px #b6ffb9;
}

.yellow {
  border: 3px solid #ffc107;
  box-shadow: 0 0 10px #ffe8a3;
}

.red {
  border: 3px solid #f44336;
  box-shadow: 0 0 10px #420000;
}

/*card section*/

.cards-container {
  /*border: 2px solid red;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.card {
  border-radius: 16px;
  padding: 8px;
  border: 4px solid #ffa8e293;
  background: #f5f5f58e;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #001c27;
  flex: 1 1 300px;
  max-width: 300px;
  min-width: 260px;
}

.card-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #23002b;
}

.module-title {
  text-align: center;
  font-size: 18px;
  border-bottom: 2px solid #23002b;
  color: #23002b;
}

.module-tasks {
  padding: 8px;
}

.task-item {
  padding: 2px;
}

.module-section-sapa021 {
  padding: 8px;
  border: 3px solid #ffa8e293;
  border-radius: 16px;
  box-shadow: 0 0 8px #ffa8e293;
}

.module-section-scoa021 {
  padding: 8px;
  border: 3px solid #bc6bffad;
  border-radius: 16px;
  box-shadow: 0 0 8px #bc6bffad;
}

.module-section-java {
  padding: 8px;
  border: 3px solid #61b3ffb7;
  border-radius: 16px;
  box-shadow: 0 0 8px #61b3ffb7;
}

.module-section-smta021 {
  padding: 8px;
  border: 3px solid #61ffcab7;
  border-radius: 16px;
  box-shadow: 0 0 8px #61ffcab7;
}

.module-section-web {
  padding: 8px;
  border: 3px solid #ffadadc7;
  border-radius: 16px;
  box-shadow: 0 0 8px #ffadadc7;
}

.module {
  margin: 8px;
}

input[type='checkbox'] {
  transform: scale(1.2); /* makes them bigger */
  margin-right: 8px; /* space from the text */
  accent-color: #af4c7d; /* makes the check green */
}

details {
  border: 2px solid #ffa8e293;
  border-radius: 12px;
}

summary {
  font-weight: 550;
  cursor: pointer;
  padding: 4px;
}

/*footer*/
.footer {
  text-align: center;
  padding: 8px;
  border: 4px solid hsla(305, 100%, 83%, 0.192);
  background: #f5f5f58e;
  backdrop-filter: blur(10px);
  color: #23002b;
  font-weight: 550;
}

/*pastel colors:
--pastel-coral: #ffadad;
  --pastel-peachy-orange: #ffd6a5;
  --pastel-lemon: #fdffb6;
  --pastel-lime: #caffbf;
  --pastel-aqua: #9bf6ff;
  --pastel-sky-blue: #a0c4ff;
  --pastel-lilac: #bdb2ff;
  --pastel-pink-lavender: #ffc6ff;
  --pastel-sand: #fffffc;
  --pastel-light-gray: #e0e0e0;
  

*/
